html {
  color: #FBFCFC;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.7em;
  z-index: 100;
  background: #333;
  text-align: center;
}

#img_big_cats {
  margin-top: 3.7em;
}

h2 {
  position: absolute;
  top: 4.2em;
  margin: auto;
  display: block;
  text-align: center;
  width: 100vw;
  color: #fff !important;
  background-color: rgba(0, 0, 0, .6);
}

.texto {
  color: black;
}

/*ESTO CAMBIA EL DISEÑO DE LA PAGINA CUANDO LA VEO EN UNA PANTALLA CON UN ANCHO DE 992px*/
@media (min-width: 992px) {

  body {
    background: url('../img/big-cats.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  h2 {
    top: 3em;
  }

  #img_big_cats {
    display: none;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: #fff;
    margin-top: 5em;
  }

  .card {
    width: 25em;
    margin: 1em 1em;
  }
}
