html {
  color: #FBFCFC;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.7em;
  z-index: 100;
  background: #333;
  text-align: center;
}

#img_big_cats {
  margin-top: 3.7em;
}
